@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import 'bootstrap/dist/css/bootstrap.css';
body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5fceb !important;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

i {
  cursor: pointer;
}

a:link {
  color: unset !important;
}

a:visited {
  color: unset !important;
}

a:active {
  color: unset !important;
}

a {
  color: unset !important;
  text-decoration: none !important;
  cursor: pointer;
}

section {
  padding: 1.5rem 2rem !important;
}

.btn {
  padding: 0.5rem 1.5rem !important;
  border-radius: 0.4rem !important;
  border: none !important;
  outline: none !important;
  transition: 0.3s all ease-in-out !important;
  font-size: 0.7rem !important;
}

.active {
  font-weight: 600 !important;
}

.show-list {
  display: flex !important;
  flex-direction: column !important;
  gap: 0.5rem !important;
}

.show {
  display: flex !important;
  flex-direction: column !important;
  gap: 0rem !important;
}

.hide {
  display: none !important;
}

.hamburger-menu-show {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 50vw !important;
  min-height: 100vh;
  padding: 2rem 1.5rem !important;
  padding-top: 5rem !important;
  padding-left: 0.8rem !important;
  background-color: #f8f6cc;
  box-shadow: 0px 0px 10px 1px rgba(34, 34, 34, 0.2);
}
.hamburger-menu-show h5 {
  margin-top: 1rem !important;
  margin-bottom: 0rem !important;
  margin-left: 1.5rem !important;
}
.hamburger-menu-show .lists-wrapper {
  background: none !important;
  display: flex;
  flex-direction: column;
  gap: 1rem !important;
}
.hamburger-menu-show .lists-wrapper ul {
  margin-top: 1.2rem !important;
  display: flex;
  flex-direction: column;
  gap: 0.5rem !important;
}

.header__container__row__col {
  padding: 1.5rem 1.5rem !important;
}
@media (max-width: 575px) {
  .header__container__row__col {
    padding: 1rem 1rem !important;
  }
}
.header__container__row__col .main {
  display: flex;
  justify-content: space-between;
}
.header__container__row__col .main .left-side {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  position: relative;
}
.header__container__row__col .main .left-side #hamburger {
  font-size: 0.9rem;
  padding: 0.35rem 0.8rem;
  border-radius: 0.35rem;
  background: #FA913C;
  color: #fff;
  position: relative;
  z-index: 20;
}
@media (min-width: 768px) {
  .header__container__row__col .main .left-side #hamburger {
    display: none;
  }
}
.header__container__row__col .main .left-side img {
  height: 1.1rem;
}
.header__container__row__col .main a.btn {
  background-color: #FF5050 !important;
  color: #fff !important;
}

.home-wrapper__container__row {
  display: flex;
  justify-content: center;
}
.home-wrapper__container__row__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.home-wrapper__container__row__col .list .accordion .accordion-item button {
  box-shadow: none !important;
}
@media (max-width: 575px) {
  .home-wrapper__container__row__col .list .accordion .accordion-item button {
    font-size: 0.85rem;
  }
}
.home-wrapper__container__row__col .list .accordion .accordion-item button:focus {
  background-color: #EBE673;
}
.home-wrapper__container__row__col .list .accordion .accordion-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 575px) {
  .home-wrapper__container__row__col .list .accordion .accordion-body {
    font-size: 0.8rem;
  }
}

@media (max-width: 575px) {
  .customer-wrapper {
    padding: 1.5rem 1rem !important;
  }
}
.customer-wrapper__container__row__col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  .customer-wrapper__container__row__col1 {
    display: none;
  }
}
.customer-wrapper__container__row__col1 h5 {
  font-size: 1.1rem;
}
@media (min-width: 992px) {
  .customer-wrapper__container__row__col1 h5 {
    font-size: 1.3rem;
  }
}
.customer-wrapper__container__row__col1 .lists-wrapper {
  background-color: #fdc99f;
  padding: 1.8rem 2rem;
  border-radius: 0.4rem;
  width: 100%;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
@media (min-width: 992px) {
  .customer-wrapper__container__row__col1 .lists-wrapper {
    font-size: 0.9rem;
  }
}
@media (min-width: 768px) and (max-width: 899px) {
  .customer-wrapper__container__row__col1 .lists-wrapper {
    padding: 2rem 2rem !important;
  }
}
@media (min-width: 900px) and (max-width: 1100px) {
  .customer-wrapper__container__row__col1 .lists-wrapper {
    padding: 2rem 3rem !important;
  }
}
@media (min-width: 1101px) and (max-width: 1400px) {
  .customer-wrapper__container__row__col1 .lists-wrapper {
    font-size: 0.95rem;
    padding: 2rem 4rem !important;
  }
}
.customer-wrapper__container__row__col1 .lists-wrapper .list {
  cursor: pointer;
}
.customer-wrapper__container__row__col2 h5 {
  font-size: 1.05rem;
}
@media (min-width: 992px) {
  .customer-wrapper__container__row__col2 h5 {
    font-size: 1.25rem;
  }
}
.customer-wrapper__container__row__col2 form {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  gap: 1rem;
}
.customer-wrapper__container__row__col2 form .search {
  width: 100%;
  background: #f1eea0;
  padding: 0.45rem 0.8rem;
  font-size: 0.9rem;
  border-radius: 0.4rem;
  position: relative;
}
@media (max-width: 575px) {
  .customer-wrapper__container__row__col2 form .search {
    font-size: 0.8rem;
  }
}
@media (min-width: 992px) {
  .customer-wrapper__container__row__col2 form .search {
    font-size: 1rem;
  }
}
.customer-wrapper__container__row__col2 form .search input {
  width: 97%;
  border: none;
  outline: none;
  background: none;
}
.customer-wrapper__container__row__col2 form .search i {
  font-size: 1rem;
  position: absolute;
  right: 0.5rem;
}
@media (min-width: 992px) {
  .customer-wrapper__container__row__col2 form .search i {
    font-size: 1.2rem;
    right: 0.7rem;
  }
}
.customer-wrapper__container__row__col2 form .input-fields {
  width: 100%;
}
.customer-wrapper__container__row__col2 form .input-fields table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-collapse: separate;
}
.customer-wrapper__container__row__col2 form .input-fields table th {
  font-size: 0.68rem;
  font-weight: 500;
}
@media (min-width: 992px) and (max-width: 1399px) {
  .customer-wrapper__container__row__col2 form .input-fields table th {
    font-size: 0.75rem !important;
  }
}
@media (min-width: 446px) and (max-width: 575px) {
  .customer-wrapper__container__row__col2 form .input-fields table th {
    font-size: 0.65rem !important;
  }
}
@media (max-width: 445px) {
  .customer-wrapper__container__row__col2 form .input-fields table th {
    font-size: 0.55rem !important;
  }
}
.customer-wrapper__container__row__col2 form .input-fields table th.tax {
  font-size: 0.68rem;
  font-weight: 500;
  width: 20%;
  background: none;
}
.customer-wrapper__container__row__col2 form .input-fields table th.name {
  font-size: 0.68rem;
  font-weight: 500;
  width: 30%;
  background: none;
}
.customer-wrapper__container__row__col2 form .input-fields table th.address {
  font-size: 0.68rem;
  font-weight: 500;
  width: 50%;
  background: none;
}
.customer-wrapper__container__row__col2 form .input-fields table td input[type=checkbox]:checked {
  accent-color: #FF5050;
  border: none;
  background: none;
}
.customer-wrapper__container__row__col2 form .input-fields table .checkbox {
  margin-right: 0.3rem;
}
@media (max-width: 575px) {
  .customer-wrapper__container__row__col2 form .input-fields table .checkbox {
    margin-top: 0.5rem;
  }
}
.customer-wrapper__container__row__col2 form .input-fields table .id {
  width: 100%;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  background: #fee5d1;
  padding: 0.3rem 0.5rem;
  font-size: 0.78rem;
}
@media (max-width: 575px) {
  .customer-wrapper__container__row__col2 form .input-fields table .id {
    font-size: 0.7rem;
  }
}
@media (min-width: 992px) {
  .customer-wrapper__container__row__col2 form .input-fields table .id {
    font-size: 0.85rem;
    padding: 0.4rem 0.6rem;
  }
}
.customer-wrapper__container__row__col2 form .input-fields table .name {
  width: 100%;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  background: #fee5d1;
  padding: 0.3rem 0.5rem;
  font-size: 0.78rem;
}
@media (max-width: 575px) {
  .customer-wrapper__container__row__col2 form .input-fields table .name {
    font-size: 0.7rem;
  }
}
@media (min-width: 992px) {
  .customer-wrapper__container__row__col2 form .input-fields table .name {
    font-size: 0.85rem;
    padding: 0.4rem 0.6rem;
  }
}
.customer-wrapper__container__row__col2 form .input-fields table .address {
  width: 100%;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  background: #fee5d1;
  padding: 0.3rem 0.5rem;
  font-size: 0.78rem;
}
@media (max-width: 575px) {
  .customer-wrapper__container__row__col2 form .input-fields table .address {
    font-size: 0.7rem;
  }
}
@media (min-width: 992px) {
  .customer-wrapper__container__row__col2 form .input-fields table .address {
    font-size: 0.85rem;
    padding: 0.4rem 0.6rem;
  }
}
.customer-wrapper__container__row__col2 form .input-fields table td.icons {
  margin-left: 0.3rem;
}
.customer-wrapper__container__row__col2 form .input-fields table td.icons i {
  font-size: 0.9rem;
  margin-top: 0.2rem;
}
@media (max-width: 575px) {
  .customer-wrapper__container__row__col2 form .input-fields table td.icons i {
    margin-top: 0.35rem;
    font-size: 0.75rem;
  }
}
@media (min-width: 992px) {
  .customer-wrapper__container__row__col2 form .input-fields table td.icons i {
    font-size: 0.98rem;
    margin-top: 0.25rem;
  }
}

.modal-title {
  font-size: 1.14rem;
}
@media (max-width: 575px) {
  .modal-title {
    font-size: 0.98rem;
  }
}
@media (min-width: 992px) {
  .modal-title {
    font-size: 1.34rem;
  }
}

@media (min-width: 992px) {
  .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.modal-body .modal-edit-wrapper {
  padding: 1.5rem 2rem !important;
}
.modal-body .modal-edit-wrapper h5 {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 575px) {
  .modal-body .modal-edit-wrapper h5 {
    font-size: 0.95rem;
  }
}
@media (min-width: 992px) {
  .modal-body .modal-edit-wrapper h5 {
    font-size: 1.3rem;
  }
}
.modal-body .modal-edit-wrapper .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal-body .modal-edit-wrapper .form label {
  font-size: 0.75rem;
}
@media (max-width: 575px) {
  .modal-body .modal-edit-wrapper .form label {
    font-size: 0.7rem;
  }
}
@media (min-width: 992px) {
  .modal-body .modal-edit-wrapper .form label {
    font-size: 0.85rem;
  }
}
.modal-body .modal-edit-wrapper .form .first {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 992px) {
  .modal-body .modal-edit-wrapper .form .first > :nth-child(1) {
    width: 30%;
  }
}
.modal-body .modal-edit-wrapper .form .first > :nth-child(1) input {
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  background-color: #fef7d7;
  padding: 0.4rem 0.6rem;
  font-size: 0.93rem;
}
@media (max-width: 575px) {
  .modal-body .modal-edit-wrapper .form .first > :nth-child(1) input {
    font-size: 0.83rem;
  }
}
@media (min-width: 992px) {
  .modal-body .modal-edit-wrapper .form .first > :nth-child(1) input {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  .modal-body .modal-edit-wrapper .form .first > :nth-child(2) {
    width: 70%;
  }
}
.modal-body .modal-edit-wrapper .form .first > :nth-child(2) input {
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  background-color: #fef7d7;
  padding: 0.4rem 0.6rem;
  font-size: 0.93rem;
}
@media (max-width: 575px) {
  .modal-body .modal-edit-wrapper .form .first > :nth-child(2) input {
    font-size: 0.83rem;
  }
}
@media (min-width: 992px) {
  .modal-body .modal-edit-wrapper .form .first > :nth-child(2) input {
    font-size: 1rem;
  }
}
.modal-body .modal-edit-wrapper .form .second {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 992px) {
  .modal-body .modal-edit-wrapper .form .second > :nth-child(1) {
    width: 70%;
  }
}
.modal-body .modal-edit-wrapper .form .second > :nth-child(1) input {
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  background-color: #fef7d7;
  padding: 0.4rem 0.6rem;
  font-size: 0.93rem;
}
@media (max-width: 575px) {
  .modal-body .modal-edit-wrapper .form .second > :nth-child(1) input {
    font-size: 0.83rem;
  }
}
@media (min-width: 992px) {
  .modal-body .modal-edit-wrapper .form .second > :nth-child(1) input {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  .modal-body .modal-edit-wrapper .form .second > :nth-child(2) {
    width: 30%;
  }
}
.modal-body .modal-edit-wrapper .form .second > :nth-child(2) input {
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  background-color: #fef7d7;
  padding: 0.4rem 0.6rem;
  font-size: 0.93rem;
}
@media (max-width: 575px) {
  .modal-body .modal-edit-wrapper .form .second > :nth-child(2) input {
    font-size: 0.83rem;
  }
}
@media (min-width: 992px) {
  .modal-body .modal-edit-wrapper .form .second > :nth-child(2) input {
    font-size: 1rem;
  }
}
.modal-body .modal-edit-wrapper .form .third {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
@media (min-width: 992px) {
  .modal-body .modal-edit-wrapper .form .third > :nth-child(1) {
    width: 70%;
  }
}
.modal-body .modal-edit-wrapper .form .third > :nth-child(1) .checkbox {
  margin-top: 0.3rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.modal-body .modal-edit-wrapper .form .third > :nth-child(1) .checkbox .same-above {
  font-size: 0.8rem;
}
.modal-body .modal-edit-wrapper .form .third > :nth-child(1) input#address {
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  background-color: #fef7d7;
  padding: 0.4rem 0.6rem;
  font-size: 0.93rem;
}
@media (max-width: 575px) {
  .modal-body .modal-edit-wrapper .form .third > :nth-child(1) input#address {
    font-size: 0.83rem;
  }
}
@media (min-width: 992px) {
  .modal-body .modal-edit-wrapper .form .third > :nth-child(1) input#address {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  .modal-body .modal-edit-wrapper .form .third > :nth-child(2) {
    width: 30%;
  }
}
.modal-body .modal-edit-wrapper .form .third > :nth-child(2) input {
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  background-color: #fef7d7;
  padding: 0.4rem 0.6rem;
  font-size: 0.93rem;
}
@media (max-width: 575px) {
  .modal-body .modal-edit-wrapper .form .third > :nth-child(2) input {
    font-size: 0.83rem;
  }
}
@media (min-width: 992px) {
  .modal-body .modal-edit-wrapper .form .third > :nth-child(2) input {
    font-size: 1rem;
  }
}
.modal-body .modal-edit-wrapper .form .fourth {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.modal-body .modal-edit-wrapper .form .fourth > :nth-child(1) input {
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  background-color: #fef7d7;
  padding: 0.4rem 0.6rem;
  font-size: 0.93rem;
}
@media (max-width: 575px) {
  .modal-body .modal-edit-wrapper .form .fourth > :nth-child(1) input {
    font-size: 0.83rem;
  }
}
@media (min-width: 992px) {
  .modal-body .modal-edit-wrapper .form .fourth > :nth-child(1) input {
    font-size: 1rem;
  }
}
.modal-body .modal-edit-wrapper .form .fourth > :nth-child(2) input {
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  background-color: #fef7d7;
  padding: 0.4rem 0.6rem;
  font-size: 0.93rem;
}
@media (max-width: 575px) {
  .modal-body .modal-edit-wrapper .form .fourth > :nth-child(2) input {
    font-size: 0.83rem;
  }
}
@media (min-width: 992px) {
  .modal-body .modal-edit-wrapper .form .fourth > :nth-child(2) input {
    font-size: 1rem;
  }
}
.modal-body .modal-edit-wrapper .form .fourth > :nth-child(3) input {
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  background-color: #fef7d7;
  padding: 0.4rem 0.6rem;
  font-size: 0.93rem;
}
@media (max-width: 575px) {
  .modal-body .modal-edit-wrapper .form .fourth > :nth-child(3) input {
    font-size: 0.83rem;
  }
}
@media (min-width: 992px) {
  .modal-body .modal-edit-wrapper .form .fourth > :nth-child(3) input {
    font-size: 1rem;
  }
}
.modal-body .modal-edit-wrapper .form .fifth {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.modal-body .modal-edit-wrapper .form .fifth > :nth-child(1) input {
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  background-color: #fef7d7;
  padding: 0.4rem 0.6rem;
  font-size: 0.93rem;
}
@media (max-width: 575px) {
  .modal-body .modal-edit-wrapper .form .fifth > :nth-child(1) input {
    font-size: 0.83rem;
  }
}
@media (min-width: 992px) {
  .modal-body .modal-edit-wrapper .form .fifth > :nth-child(1) input {
    font-size: 1rem;
  }
}
.modal-body .modal-edit-wrapper .form .fifth > :nth-child(2) input {
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  background-color: #fef7d7;
  padding: 0.4rem 0.6rem;
  font-size: 0.93rem;
}
@media (max-width: 575px) {
  .modal-body .modal-edit-wrapper .form .fifth > :nth-child(2) input {
    font-size: 0.83rem;
  }
}
@media (min-width: 992px) {
  .modal-body .modal-edit-wrapper .form .fifth > :nth-child(2) input {
    font-size: 1rem;
  }
}
.modal-body .modal-edit-wrapper .form .fifth > :nth-child(3) input {
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  background-color: #fef7d7;
  padding: 0.4rem 0.6rem;
  font-size: 0.93rem;
}
@media (max-width: 575px) {
  .modal-body .modal-edit-wrapper .form .fifth > :nth-child(3) input {
    font-size: 0.83rem;
  }
}
@media (min-width: 992px) {
  .modal-body .modal-edit-wrapper .form .fifth > :nth-child(3) input {
    font-size: 1rem;
  }
}
.modal-body .modal-edit-wrapper .form .sixth {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 992px) {
  .modal-body .modal-edit-wrapper .form .sixth > :nth-child(1) {
    width: 30%;
  }
}
.modal-body .modal-edit-wrapper .form .sixth > :nth-child(1) input {
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  background-color: #fef7d7;
  padding: 0.4rem 0.6rem;
  font-size: 0.93rem;
}
@media (max-width: 575px) {
  .modal-body .modal-edit-wrapper .form .sixth > :nth-child(1) input {
    font-size: 0.83rem;
  }
}
@media (min-width: 992px) {
  .modal-body .modal-edit-wrapper .form .sixth > :nth-child(1) input {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  .modal-body .modal-edit-wrapper .form .sixth > :nth-child(2) {
    width: 70%;
  }
}
.modal-body .modal-edit-wrapper .form .sixth > :nth-child(2) input {
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  background-color: #fef7d7;
  padding: 0.4rem 0.6rem;
  font-size: 0.93rem;
}
@media (max-width: 575px) {
  .modal-body .modal-edit-wrapper .form .sixth > :nth-child(2) input {
    font-size: 0.83rem;
  }
}
@media (min-width: 992px) {
  .modal-body .modal-edit-wrapper .form .sixth > :nth-child(2) input {
    font-size: 1rem;
  }
}

.modal-footer button:nth-child(1) {
  background-color: #FA913C;
}
@media (min-width: 768px) {
  .modal-footer button:nth-child(1) {
    padding: 0.7rem 2rem !important;
  }
}
.modal-footer button:nth-child(2) {
  background-color: #e5bb05;
}
@media (min-width: 768px) {
  .modal-footer button:nth-child(2) {
    padding: 0.7rem 2rem !important;
  }
}
.modal-footer button:nth-child(3) {
  background-color: #FF5050;
}
@media (min-width: 768px) {
  .modal-footer button:nth-child(3) {
    padding: 0.7rem 2rem !important;
  }
}

@media (max-width: 575px) {
  .product-wrapper {
    padding: 1.5rem 1rem !important;
  }
}
.product-wrapper__container__row__col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  .product-wrapper__container__row__col1 {
    display: none;
  }
}
.product-wrapper__container__row__col1 h5 {
  font-size: 1.1rem;
}
.product-wrapper__container__row__col1 .lists-wrapper {
  background-color: #fdc99f;
  padding: 1.5rem 1.5rem;
  border-radius: 0.4rem;
  width: 100%;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.1rem;
}
.product-wrapper__container__row__col2 h5 {
  font-size: 1rem;
}
.product-wrapper__container__row__col2 form {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  gap: 1rem;
}
.product-wrapper__container__row__col2 form .search {
  width: 100%;
  background: #f1eea0;
  padding: 0.45rem 0.8rem;
  font-size: 0.7rem;
  border-radius: 0.4rem;
  position: relative;
}
@media (max-width: 575px) {
  .product-wrapper__container__row__col2 form .search {
    font-size: 0.6rem;
  }
}
.product-wrapper__container__row__col2 form .search input {
  width: 97%;
  border: none;
  outline: none;
  background: none;
}
.product-wrapper__container__row__col2 form .search i {
  font-size: 0.9rem;
  position: absolute;
  right: 0.5rem;
}
.product-wrapper__container__row__col2 form .input-fields {
  width: 100%;
}
.product-wrapper__container__row__col2 form .input-fields table {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.product-wrapper__container__row__col2 form .input-fields table th {
  font-size: 0.6rem;
  font-weight: 500;
}
@media (max-width: 575px) {
  .product-wrapper__container__row__col2 form .input-fields table th {
    font-size: 0.5rem !important;
  }
}
.product-wrapper__container__row__col2 form .input-fields table th.tax {
  font-size: 0.6rem;
  font-weight: 500;
  width: 20%;
  background: none;
}
.product-wrapper__container__row__col2 form .input-fields table th.name {
  font-size: 0.6rem;
  font-weight: 500;
  width: 30%;
  background: none;
}
.product-wrapper__container__row__col2 form .input-fields table th.address {
  font-size: 0.6rem;
  font-weight: 500;
  width: 50%;
  background: none;
}
.product-wrapper__container__row__col2 form .input-fields table td input[type=checkbox]:checked {
  accent-color: #FF5050;
  border: none;
  background: none;
}
.product-wrapper__container__row__col2 form .input-fields table .checkbox {
  margin-right: 0.3rem;
}
@media (max-width: 575px) {
  .product-wrapper__container__row__col2 form .input-fields table .checkbox {
    margin-top: 0.5rem;
  }
}
.product-wrapper__container__row__col2 form .input-fields table .id {
  width: 100%;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  background: #fee5d1;
  padding: 0.3rem 0.5rem;
  font-size: 0.7rem;
}
@media (max-width: 575px) {
  .product-wrapper__container__row__col2 form .input-fields table .id {
    font-size: 0.6rem;
  }
}
.product-wrapper__container__row__col2 form .input-fields table .name {
  width: 100%;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  background: #fee5d1;
  padding: 0.3rem 0.5rem;
  font-size: 0.7rem;
}
@media (max-width: 575px) {
  .product-wrapper__container__row__col2 form .input-fields table .name {
    font-size: 0.6rem;
  }
}
.product-wrapper__container__row__col2 form .input-fields table .address {
  width: 100%;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  background: #fee5d1;
  padding: 0.3rem 0.5rem;
  font-size: 0.7rem;
}
@media (max-width: 575px) {
  .product-wrapper__container__row__col2 form .input-fields table .address {
    font-size: 0.6rem;
  }
}
.product-wrapper__container__row__col2 form .input-fields table td.icons {
  margin-left: 0.3rem;
}
.product-wrapper__container__row__col2 form .input-fields table td.icons i {
  font-size: 0.85rem;
}
@media (max-width: 575px) {
  .product-wrapper__container__row__col2 form .input-fields table td.icons i {
    margin-top: 0.35rem;
    font-size: 0.65rem;
  }
}